<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoomAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8476B6291F21A7BA000D89ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8476B6421F21A7BA000D89ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8476B64D1F21A7BA000D89ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
